{% ckan_extends %}

{% block admin_form %}

  {% set current_lang = request.environ.CKAN_LANG %}

  {% set site_title =  ['ckan.site_title_', current_lang]|join('') %}
  {{ form.input(site_title, id='field-ckan-site-title', label=_('Site Title'), value=data[site_title], error=error, classes=['control-medium']) }}

  {{ form.select('ckan.main_css', id='field-ckan-main-css', label=_('Style'), options=styles, selected=data['ckan.main_css'], error=error) }}

  {% set site_description =  ['ckan.site_description_', current_lang]|join('') %}
  {{ form.input(site_description, id='field-ckan-site-description', label=_('Site Tag Line'), value=data[site_description], error=error, classes=['control-medium']) }}

  {% set field_url = 'ckan.site_logo' %}
  {% set is_upload = data[field_url] and not data[field_url].startswith('http') %}
  {% set is_url = data[field_url] and data[field_url].startswith('http') %}
  {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label = _('Site logo'), url_label=_('Site logo'),  field_url=field_url, field_upload='logo_upload', field_clear='clear_logo_upload' )}}

  {% set site_about =  ['ckan.site_about_', current_lang]|join('') %}
  {{ form.markdown(site_about, id='field-ckan-site-about', label=_('About'), value=data[site_about], error=error, placeholder=_('About page text')) }}

  {% set site_intro_text =  ['ckan.site_intro_text_', current_lang]|join('') %}
  {{ form.markdown(site_intro_text, id='field-ckan-site-intro-text', label=_('Intro Text'), value=data[site_intro_text], error=error, placeholder=_('Text on home page')) }}

  {{ form.textarea('ckan.site_custom_css', id='field-ckan-site-custom-css', label=_('Custom CSS'), value=data['ckan.site_custom_css'], error=error, placeholder=_('Customisable css inserted into the page header')) }}

  {{ form.select('ckan.homepage_style', id='field-homepage-style', label=_('Homepage'), options=homepages, selected=data['ckan.homepage_style'], error=error) }}

  {% set cookie_notice_name =  ['ckan.cookie_notice_content_', current_lang]|join('') %}
  {{ form.markdown(cookie_notice_name, id=cookie_notice_name, label=_('Cookie notice content'), value=h.config_option_show('ckan.cookie_notice_content', current_lang), error=errors[cookie_notice_name]) }}

{% endblock %}