{% block group_item %}
  <section class="group-list module module-narrow module-shallow">
    {% block group_item_header %}
      <header class="module-heading">
        {% set truncate=truncate or 0 %}
        {% set truncate_title = truncate_title or 0 %}
        {% set title = group['title_' + request.environ.CKAN_LANG] or group.title or group.name %}
        {% block group_item_header_image %}
          <a class="module-image" href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
            <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group['title_' + request.environ.CKAN_LANG] or group.title or group.name }}" />
          </a>
        {% endblock %}
        {% block group_item_header_title %}
          <h3 class="media-heading"><a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">{{ group['title_' + request.environ.CKAN_LANG] or group.title or group.name }}</a></h3>
        {% endblock %}
      </header>
    {% endblock %}
  </section>
{% endblock %}
